.shelter {
  max-width: 1024px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.shelter__details {
  text-align: center;
}

.shelter__image {
  max-width: 280px;
  width: 100%;
  border: 1px solid grey;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.shelter__title {
  font-family: var(--main-title);
  text-transform: uppercase;
  margin: 24px 0px;
}

.shelter__description{
  max-width: 480px;
  margin: 16px auto;
}

.shelter__location {
  font-family: var(--main-text);
  font-size: 16px;
  color: var(--grey);
}

.shelter__description {
  font-family: var(--main-text);
  font-size: 20px;
  color: var(--black);
  text-align: left;
}

.shelter__buttons{
  max-width: 480px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.shelter__button{
  max-width: 200px;
  width: 100%;
}

.shelter__links{
  max-width: 540px;
  margin: 16px auto;
}

.shelter__suggestions{
  font-family: var(--main-title);
  font-size: 24px;
}

.shelter__location{
  display: flex;
  justify-content: center;
  align-items: center;
}

.shelter__pin{
  max-height: 20px;
}

.shelter__caption {
  font-family: var(--main-text);
  font-size: 16px;
  line-height: 20px;
  color: var(--grey);
  margin-left: 6px;
}

